*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.menu {
    background-color: #fc6a03;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif, Courier, monospace;
    height: 80px;
    margin-bottom: 7%;
}

h1{
    font-size: max(16px, 1.4vw);
    text-transform: uppercase;
    color: #fff;
    padding-bottom: 10px;
    
}

a {
    color: #fff;
    text-decoration: none;
}

.menu a:hover {
    opacity: 0.7;
  }

.menu-list{
    list-style: none;
    display: flex;
}

.menu-list li{
    letter-spacing: 3px;
    margin-left: 32px;
}

.sombra:houver{
    text-shadow: 1px 1px 1px rgb(228, 247, 255); 
}
span {
    font-size: 14px;   
}

body { /* CONFIGURAÇÃO DO BODY (CORPO DA PÁGINA) */
    background-color: whitesmoke;
}

form{
    border: 2px solid #a39e9e93;
    background-color: white;
    padding: 30px;
    max-width: 400px;
    margin: 20px auto;
    margin-top: 40px;
    border-radius: 5px;
    box-shadow: 5px 5px 5px 5px gray;

}

label{
    padding: 20px;
}

fieldset{
    padding: 20px;
    margin-bottom: 50px;
    
}

h2{
    font-size: 25px;

 }

 input[type="text"],
 input[type="email"],
 textarea,
 input[type="tel"] {
     width: 100%;
     border: none;
     padding: 5px;
     outline: none;
     background: none;
     color: gray;
     border-bottom: 3px solid black;
     margin-bottom: 30px;
     transition: color 0.3s ease-in-out;
 }

 .btn { /* CONFIGURAÇÕES DOS BOTOES */
    background-color:#fc6a03;
    color: white;
    border: none;
    padding: 10px;
    outline: none;
    border-radius: 5px;
    transition: color 0.3s ease-in-out;
    cursor: pointer;
}

::placeholder{ /* CONFIGURAÇÃO DOS PLACEHOLDER */
    color: rgb(223, 221, 221);
}

input[type='text']:hover,
input[type='email']:hover,
textarea:hover,
input[type='tel']:hover{ /* CONFIGURAÇÃO DOS INPUTS QUANDO PASSARMOS O CURSOR */
    background-color: #fc6a03;
    border-radius: 3px;
}

button.btn:hover{ /* CONFIGURAÇÃO DOS BUTTON QUANDO PASSARMOS O CURSOR */
    background-color: white;
    color: #fc6a03;
    font-weight: bold;
}

.rodape{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif, Courier, monospace;
    background: #fc6a03;
    height:100px;
    width: 100%;
    margin-top: 7%;
}
.bran{
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    font-size: 25px;
}
